# Dependencies
**/node_modules/

# Build setting
**/dist/
**/dist-*/
**/*.tsbuildinfo

# Hidden files, logging and environment files
**/.**
**/*.log
**/*.env

# Work space setting to Project IDX
!.vscode/
!.gitignore
